



.card {
  border-radius: 10%;
  border: 1px solid;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

p {
  font-weight: bold;
  text-align: center;
}

img {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.banner {
  background-color: #efe5dc;
}

.btn {
  color: black !important;
  background-color: #d0b8ac !important;
  border-color: #d0b8ac !important;
}
